[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sklearn = "*"
pandas = "*"
jupytext = "*"
seaborn = "*"
tqdm = "*"
plotly = "*"
ipython = "*"
sklearn-pandas = "*"
pandas-profiling = "*"
pyyaml = "*"
dash = "*"
pyarrow = "*"
dash-daq = "*"

[requires]
python_version = "3.6"
